@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Source+Sans+Pro:wght@300&display=swap');

.Outer-Cont {
    display: flex;
    align-items: center;
    height: 75px;
    margin-top: 50px;
    margin-left: 100px;
}

.Outer-text{
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    height: 75px;
    font-size: 40px;
}