.MainContent {
    background-color: #1c1c1c;
    height: 900px;
    padding: 60px 24px;
    color: #fff;
    position: relative;
}

.MainContent::after {
    content: "";
    position: absolute;
    background: gray;
    height: 300px;
    width: 100px;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.inner {
    height: 900px;
}

.MainContent.inner {
    position: relative;
}

.MainContent.inner h1 {
    margin: 8px 0;
    opacity: 1;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainContent.inner p {
    opacity: 1;
    
}