.HeroContainer {
    background-color: #ffffff;
    padding: 160px, 0;
    height: 1080px;

}

.Hero-img-wrapper{
    position: relative;
    display: inline-block;
}

.home__hero-img {
    display: block;
}

.Hero-Class-Wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
        text-align: center;
}

